<div id="bodyWrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div id="bdy-rgt-wrp" style="min-height: 759px;">
          <div id="page_content">
            <div id="content" class="col-lg-12">
              <div id="list_content" class="row" style="display: row;">
                <div class="col-sm-12">
                  <div class="sec-block">
                    <h2 class="sec-title">
                      <!-- <small>* Only last 1 year records are displayed</small> -->

                      <a class="add-btn pull-right" href="javascript:void(0)" tooltip="Add" [routerLink]="['standingInstructionDetails']">
                        <button id="AddNewStandinginstruction" class="btn btn-block btn-primary pull-right">Add Contents</button>
                      </a>
                      <h3>Contents List</h3>
                    </h2>
                  </div>
                </div>
              </div>

              <div class="col-md-12 listTable">
                <div class="col-md-12 listTable">
                </div>
              </div>
              <div></div>
              <table id="StandingInstructionList" class="table table-hover table-mail hide-xs">
                <thead>
                  <tr>
                            <th>Customer Name</th>
                            <th>Auditor Name</th>
                            <th>Standing Instructions</th>       
                            <th>Status</th>
                            <th>Last Updated By</th>
                          <th>Last Updated Date</th>
                             <th>Options</th>
                          </tr>
                        </thead>
                    
                        <tbody>
                          <tr *ngFor='let standingInstruction of standingInstructions'>
                            <td>{{standingInstruction.customerName}}</td>
                            <td>{{standingInstruction.auditorName}}</td>
                            <td>{{standingInstruction.standingInstructions}}</td>
                            <td>{{standingInstruction.status}}</td>
                            <td>{{standingInstruction.lastUpdatedBy}}</td>
                            <td>{{standingInstruction.lastUpdatedDate}}</td>
                            <td>
                              <a>
                                <i class="fa fa-eye" [routerLink]="['standingInstructionDetails',standingInstruction.id,true]" title="View" style="font-size: 15px; color: black; cursor:pointer"></i>
                              </a>&nbsp;
                              <a>
                                <i class="fa fa-edit" [routerLink]="['standingInstructionDetails',standingInstruction.id,false]" title="Edit" style="font-size: 15px; color: black; cursor:pointer"></i>
                              </a>&nbsp;
                              <a>
                                <i class="fa fa-trash" (click)="delete(standingInstruction.id)" title="Remove" style="font-size: 15px; color: black; cursor:pointer"></i>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>